# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
coverage/

# Env / secrets
.env
.env.*
frontend/.env
backend/.env

# Mac / OS
.DS_Store
**/.DS_Store
**/._*
# Editor
.vscode/
.idea/

# React build
frontend/build/

# Locks (必要なら残してOK)
# package-lock.json
# yarn.lock

# Internal docs (非公開メモ)
internal_docs/
